<!DOCTYPE html>
<html lang="en" ng-app="SequelizeApp">
<head>
    <meta charset="UTF-8">
    <title>Sequelize - CRUD/Filtering/Ordering/Pagination v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body ng-controller="EmployeesCtrl as ctrl" class="ng-cloak">

<md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="ctrl.navigateTab('')" name="page1">Employees DB</md-nav-item>
        <md-nav-item md-nav-click="ctrl.navigateTab('/employees/create.html')" name="page2"><i class="fa fa-plus-square-o fa-2x pull-left"></i>Create</md-nav-item>
        <md-nav-item md-nav-click="ctrl.navigateTab('/employees/read.html')" name="page3"><i class="fa fa-search-minus fa-2x pull-left"></i>READ</md-nav-item>
        <md-nav-item md-nav-click="ctrl.navigateTab('/employees/update.html')" name="page4"><i class="fa fa-pencil-square-o fa-2x pull-left"></i>Update</md-nav-item>
        <md-nav-item md-nav-click="ctrl.navigateTab('/employees/delete.html')" name="page5"><i class="fa fa-minus-square-o fa-2x pull-left"></i>Delete</md-nav-item>
        <!--
        <md-nav-item md-nav-click="ctrl.navigateTab('/employees/pagination.html')" name="page6"><i class="fa fa-pagelines fa-2x pull-left"></i>Pagination</md-nav-item>
        <md-nav-item md-nav-click="ctrl.navigateTab('/employees/ordering.html')" name="page7"><i class="fa fa-sort-alpha-desc fa-2x pull-left"></i>Sorting</md-nav-item>
        <md-nav-item md-nav-click="ctrl.navigateTab('/employees/transaction.html')" name="page8"><i class="fa fa-database fa-2x pull-left"></i>Transactional</md-nav-item>
-->
    </md-nav-bar>
    <div class="ext-content">
        <!--{{ctrl.navigatePage}}-->
        <div id="pageContent" ng-include="ctrl.navigatePage"></div>
    </div>
</md-content>


</body>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/js/employees.service.js"></script>
<script type="text/javascript" src="app/js/employees.controller.js"></script>

</html>