<div layout="column" ng-cloak class="md-inline-form" data-ng-controller="EmployeesCtrl as ctrl" >

<md-content layout-padding>
    <div>
        <form name="employeesForm" novalidate ng-submit="ctrl.createEmployee();">

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>First name</label>
                    <input type="text" id="firstName" ng-model="ctrl.employees.firstName" required>
                </md-input-container>
                <div class="validation" data-ng-show="employeesForm.firstName.$touched || employeesForm.$submitted">
                    <div data-ng-show="employeesForm.firstName.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>
                        First Name is required.
                    </div>
                </div>
            </div>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last name</label>
                    <input type="text" id="lastName" ng-model="ctrl.employees.lastName" required>
                </md-input-container>
                <div class="validation" data-ng-show="employeesForm.lastName.$touched || employeesForm.$submitted">
                    <div data-ng-show="employeesForm.lastName.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>
                        Last Name is required.
                    </div>
                </div>
            </div>

            <div layout-gt-sm="row">
                <md-input-container>
                    <label>Birth date</label>
                    <md-datepicker type="date" id="birthDate" ng-model="ctrl.employees.birthDate" required></md-datepicker>
                </md-input-container>
                <div class="validation" data-ng-show="employeesForm.birthDate.$touched || employeesForm.$submitted">
                    <div data-ng-show="employeesForm.birthDate.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>
                        Birth Date is required.
                    </div>
                    <div data-ng-show="employeesForm.birthDate.$invalid">
                        <span class="glyphicon glyphicon-alert"></span>
                        Invalid Date.
                    </div>
                </div>
            </div>

            <div layout-gt-sm="row">
                <md-input-container>
                    <label>Hire date</label>
                    <md-datepicker type="date" id="hireDate" ng-model="ctrl.employees.hireDate"></md-datepicker>
                </md-input-container>
                <div class="validation" data-ng-show="employeesForm.hireDate.$touched || employeesForm.$submitted">
                    <div data-ng-show="employeesForm.hireDate.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>
                        Hire Date is required.
                    </div>
                    <div data-ng-show="employeesForm.hireDate.$invalid">
                        <span class="glyphicon glyphicon-alert"></span>
                        Invalid Date.
                    </div>
                </div>
            </div>

            <div layout-gt-sm="row">
                <label>Gender</label>
                <md-radio-group type="radio" ng-model="ctrl.employees.gender" required>
                    <md-radio-button value="M" class="md-primary">Male</md-radio-button>
                    <md-radio-button value="F">Female</md-radio-button>
                </md-radio-group>
                <div class="validation" data-ng-show="employeesForm.gender.$touched || employeesForm.$submitted">
                    <div data-ng-show="employeesForm.gender.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>
                        Hire Date is required.
                    </div>
                    <div data-ng-show="employeesForm.gender.$invalid">
                        <span class="glyphicon glyphicon-alert"></span>
                        Invalid Gender.
                    </div>
                </div>
            </div>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button type="submit" ng-disabled="employeesForm.$invalid" class="md-raised md-primary">Save</md-button>
        </section>

        </form>
    </div>
</md-content>
</div>
