<div layout="column" ng-cloak class="md-inline-form" ng-controller="EmployeesCtrl as ctrl">

    <md-content layout-padding>
        <div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Search By Name</label>
                    <input type="text" id="name" ng-model="ctrl.searchName">
                </md-input-container>
            </div>
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button type="submit" ng-click="ctrl.getEmployees();" class="md-raised md-primary">Search</md-button>
            </section>

            <table ng-show="ctrl.searchResult.length > 0" class="table table-bordered table-striped">

                <thead>
                <tr>
                    <td>
                        Employee No.
                    </td>
                    <td>
                        First Name
                    </td>
                    <td>
                        Last Name
                    </td>
                    <td>
                        Date of Birth
                    </td>
                    <td>
                        Hire Date
                    </td>
                    <td>
                        Gender
                    </td>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="item in ctrl.searchResult">
                    <td>{{ item.emp_no }}</td>
                    <td>{{ item.first_name }}</td>
                    <td>{{ item.last_name }}</td>
                    <td>{{ item.birth_date | date:'medium' }}</td>
                    <td>{{ item.hire_date | date:'medium' }}</td>
                    <td>{{ item.gender }}</td>
                </tr>
                </tbody>

            </table>
        </div>
    </md-content>
</div>
