<div layout="column" ng-cloak class="md-inline-form" data-ng-controller="EmployeesCtrl as ctrl" >

    <md-content layout-padding>
        <div>
            <form name="employeesForm" novalidate ng-submit="ctrl.updateEmployee();">

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Employee No.</label>
                        <input type="text" id="empNo" ng-model="ctrl.employeeNo" ng-change="ctrl.getEmployee()">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input type="text" id="firstName" ng-model="ctrl.employees.firstName">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last name</label>
                        <input type="text" id="lastName" ng-model="ctrl.employees.lastName">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container>
                        <label>Birth date</label>
                        <md-datepicker type="date" id="birthDate" ng-model="ctrl.employees.birthDate"></md-datepicker>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container>
                        <label>Hire date</label>
                        <md-datepicker type="date" id="hireDate" ng-model="ctrl.employees.hireDate"></md-datepicker>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <label>Gender</label>
                    <md-radio-group type="radio" ng-model="ctrl.employees.gender">
                        <md-radio-button value="M" class="md-primary">Male</md-radio-button>
                        <md-radio-button value="F">Female</md-radio-button>
                    </md-radio-group>
                </div>

                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button type="submit" class="md-raised md-primary">Update</md-button>
                </section>
        </div>
    </md-content>
</div>
